<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCe9474fo9O-bm6bAWgV0HuR1F_N-yPcaI</string>
	<key>GCM_SENDER_ID</key>
	<string>131941497335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ADG.pesu.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>todolist-ace61</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-ace61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131941497335:ios:b6556c6e8d40730dc556f2</string>
</dict>
</plist>